/* ::::: popup ::::: */

#tabscope-popup {
	-moz-appearance: none;
	background: transparent;
	border: none;
	transition-property: margin;
}

/* [Windows][Linux] */
#tabscope-popup:not([_os="Mac"]) #tabscope-container {
	margin: 0 4px 4px 0;
	padding: 4px;
	background: -moz-Dialog;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

/* [Windows][Linux] */
#tabscope-popup:not([_os="Mac"])[_alignment="1"] #tabscope-container {
	margin: 4px 4px 0 0;
}

/* [Windows][Linux] */
#tabscope-popup:not([_os="Mac"])[_alignment="3"] #tabscope-container {
	margin: 0 0 4px 4px;
}

/* [Mac] */
#tabscope-popup[_os="Mac"] #tabscope-container {
	border-radius: 5px;
	padding: 5px;
	background: -moz-Dialog;
}

#tabscope-title {
	margin: 5px 0 0 0 !important;
	text-align: center;
	color: -moz-DialogText;
}

#tabscope-preview {
	transition-property: width, height;
}

/* ::::: popup fade ::::: */

#tabscope-popup[_fade] #tabscope-container {
	transition-duration: 200ms, 150ms;
	transition-property: opacity, transform;
	transition-timing-function: ease-out;
}

#tabscope-popup[_fade]:not([_open]) #tabscope-container {
	opacity: 0;
}

#tabscope-popup[_fade]:not([_open]) #tabscope-container {
	transform: translateY(-8px);
}

#tabscope-popup[_fade]:not([_open])[_alignment="1"] #tabscope-container {
	transform: translateY(8px);
}

/* ::::: alignment ::::: */

#tabscope-popup[_alignment="1"] #tabscope-container {
	-moz-box-direction: reverse;
}

#tabscope-popup[_alignment="1"] #tabscope-title {
	margin: 0 0 5px 0 !important;
}

/* ::::: toolbar ::::: */

#tabscope-toolbar {
	-moz-appearance: none;
	border: none;
	border-bottom: 1px solid rgb(211, 211, 211);
	background: linear-gradient(rgba(211, 211, 211, 1), rgba(211, 211, 211, 0.6));
	margin: 0;
	padding: 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#tabscope-toolbar:hover,
#tabscope-toolbar[_customizing] {
	opacity: 1;
}

#tabscope-toolbar > toolbarbutton {
	-moz-appearance: none;
	border: none;
	margin: 0;
	padding: 2px;
	width: 20px;
	height: 20px;
	background: none;
	list-style-image: url("chrome://tabscope/skin/toolbar.png");
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-icon {
	margin: 0;
	padding: 0;
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-text {
	display: none;
}

#tabscope-back-button {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#tabscope-forward-button {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

#tabscope-reload-button {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

#tabscope-reload-button[_loading="true"] {
	-moz-image-region: rect(0px, 64px, 16px, 48px);
}

#tabscope-close-button {
	-moz-image-region: rect(0px, 80px, 16px, 64px);
}

#tabscope-pin-button {
	-moz-image-region: rect(0px, 96px, 16px, 80px);
}

#tabscope-pin-button[_active="true"] {
	-moz-image-region: rect(16px, 96px, 32px, 80px);
}

#tabscope-zoom-button {
	-moz-image-region: rect(0px, 112px, 16px, 96px);
}

#tabscope-zoom-button[_active="true"] {
	-moz-image-region: rect(16px, 112px, 32px, 96px);
}

#tabscope-groups-button {
	-moz-image-region: rect(0px, 128px, 16px, 112px);
}

#tabscope-toolbar > toolbarbutton[disabled="true"],
#tabscope-toolbar[_customizing] > toolbarbutton:not([checked="true"]) {
	opacity: 0.35;
}

/* ::::: toolbar display ::::: */

#tabscope-popup[_toolbardisplay="1"] #tabscope-toolbar {
	opacity: 1;
	background: none;
	border: none;
}

#tabscope-popup[_toolbardisplay="1"]:not([_alignment="1"]) #tabscope-preview {
	margin-top: 22px;
}

#tabscope-popup[_toolbardisplay="1"][_alignment="1"] #tabscope-preview {
	margin-bottom: 22px;
}

