/* ::::: popup ::::: */

#tabscope-popup {
	padding: 5px;
	transition-property: margin;
}

#tabscope-title {
	margin: 5px 0 0 0 !important;
	text-align: center;
}

#tabscope-preview {
	transition-property: width, height;
}

/* ::::: alignment ::::: */

#tabscope-popup[_alignment="1"] {
	-moz-box-direction: reverse;
}

#tabscope-popup[_alignment="1"] #tabscope-title {
	margin: 0 0 5px 0 !important;
}

/* ::::: toolbar ::::: */

#tabscope-toolbar {
	-moz-appearance: none;
	border: none;
	border-bottom: 1px solid rgb(211, 211, 211);
	background: linear-gradient(rgba(211, 211, 211, 1), rgba(211, 211, 211, 0.6));
	margin: 0;
	padding: 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#tabscope-toolbar:hover,
#tabscope-toolbar[_customizing] {
	opacity: 1;
}

#tabscope-toolbar > toolbarbutton {
	-moz-appearance: none;
	border: none;
	margin: 0;
	padding: 2px;
	width: 20px;
	height: 20px;
	background: none;
	list-style-image: url("chrome://tabscope/skin/toolbar.png");
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-icon {
	margin: 0;
	padding: 0;
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-text {
	display: none;
}

#tabscope-back-button {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#tabscope-forward-button {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

#tabscope-reload-button {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

#tabscope-reload-button[_loading="true"] {
	-moz-image-region: rect(0px, 64px, 16px, 48px);
}

#tabscope-close-button {
	-moz-image-region: rect(0px, 80px, 16px, 64px);
}

#tabscope-pin-button {
	-moz-image-region: rect(0px, 96px, 16px, 80px);
}

#tabscope-pin-button[_active="true"] {
	-moz-image-region: rect(16px, 96px, 32px, 80px);
}

#tabscope-zoom-button {
	-moz-image-region: rect(0px, 112px, 16px, 96px);
}

#tabscope-zoom-button[_active="true"] {
	-moz-image-region: rect(16px, 112px, 32px, 96px);
}

#tabscope-groups-button {
	-moz-image-region: rect(0px, 128px, 16px, 112px);
}

#tabscope-toolbar > toolbarbutton[disabled="true"],
#tabscope-toolbar[_customizing] > toolbarbutton:not([checked="true"]) {
	opacity: 0.35;
}

/* ::::: toolbar display ::::: */

#tabscope-popup[_toolbardisplay="1"] #tabscope-toolbar {
	opacity: 1;
	background: none;
	border: none;
}

#tabscope-popup[_toolbardisplay="1"]:not([_alignment="1"]) #tabscope-preview {
	margin-top: 22px;
}

#tabscope-popup[_toolbardisplay="1"][_alignment="1"] #tabscope-preview {
	margin-bottom: 22px;
}

