/* ::::: popup ::::: */

#tabscope-popup {
	padding: 5px;
	-moz-transition-property: margin;
	-moz-transition-timing-function: ease-in-out;
}

#tabscope-title {
	margin: 5px 0 0 0 !important;
	text-align: center;
}

/* ::::: popup_alignment ::::: */

#tabscope-popup[popup_alignment="1"] {
	-moz-box-direction: reverse;
}

#tabscope-popup[popup_alignment="1"] #tabscope-title {
	margin: 0 0 5px 0 !important;
}

/* ::::: toolbar ::::: */

#tabscope-toolbar {
	-moz-appearance: none;
	border: none;
	border-bottom: 1px solid rgb(211, 211, 211);
	background: -moz-linear-gradient(rgba(211, 211, 211, 1), rgba(211, 211, 211, 0.6));
	margin: 0;
	padding: 0;
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
}

#tabscope-toolbar:hover {
	opacity: 1;
}

#tabscope-toolbar > toolbarbutton {
	-moz-appearance: none;
	border: none;
	margin: 0;
	padding: 2px;
	width: 20px;
	height: 20px;
	background: none;
	list-style-image: url("chrome://tabscope/skin/icons.png");
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-icon {
	margin: 0;
	padding: 0;
}

#tabscope-toolbar > toolbarbutton .toolbarbutton-text {
	display: none;
}

#tabscope-back-button {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#tabscope-forward-button {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

#tabscope-reload-button {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

#tabscope-stop-button {
	-moz-image-region: rect(0px, 64px, 16px, 48px);
}

#tabscope-close-button {
	-moz-image-region: rect(0px, 80px, 16px, 64px);
}

#tabscope-pin-button {
	-moz-image-region: rect(0px, 96px, 16px, 80px);
}

#tabscope-alltabs-button {
	-moz-image-region: rect(0px, 112px, 16px, 96px);
}

#tabscope-groups-button {
	-moz-image-region: rect(0px, 128px, 16px, 112px);
}

#tabscope-toolbar > toolbarbutton[disabled="true"] {
	opacity: 0.4;
}

/* ::::: Windows (except Classic and third-party themes) ::::: */

#tabscope-popup:-moz-system-metric(windows-default-theme) {
	border: 1px solid ThreeDShadow;
}

/* ::::: Windows Aero ::::: */

/* derived from chrome://browser/skin/browser.css */
#tabscope-popup:-moz-system-metric(windows-compositor) {
	background: transparent;
	-moz-appearance: -moz-win-glass;
	-moz-border-radius: 0;
	border: none;
	color: black;
	text-shadow: white -1px -1px .5em, white -1px 1px .5em, white 1px 1px .5em, white 1px -1px .5em;
}

