/* ::::: Popup ::::: */

#tabscope-popup {
	padding: 5px;
	-moz-transition-property: margin;
	-moz-transition-timing-function: ease-in-out;
}

#tabscope-mask {
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #FFF);
}

#tabscope-title {
	/* left and right margin must be 0 */
	margin: 5px 0 0 0 !important;
	text-align: center;
}

/* ::::: Windows Aero ::::: */

/* derived from chrome://browser/skin/browser.css */
#tabscope-popup:-moz-system-metric(windows-compositor) {
	background: transparent;
	-moz-appearance: -moz-win-glass;
	-moz-border-radius: 0;
	border: none;
	color: black;
	text-shadow: white -1px -1px .5em, white -1px 1px .5em, white 1px 1px .5em, white 1px -1px .5em;
}

